*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  // background-color
  --bg-pramiry-color: #0f0e0e;

  // text-color
  --text-primary-color: #f1f1f1;

  // border-color
  --border-primary-color: #6f6f6f;

  //border radies 
  --border-radies-xs: 4px;
  --border-radies-sm: 8px;
  --border-radies-md: 16px;
  --border-radies-lg: 24px;
  --border-radies-xl: 32px;
  --border-radies-xxl: 48px;

  //spacing variables
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
}

html,body{
  height: 100%;
  width: 100%;
}
html{
  background-color: var(--bg-pramiry-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  width: 100%;
  height: 100%;

  section{
    height: 100%;
    padding: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    
    .infos{
      width: 100%;
      display: flex;
      justify-content: space-between;

      .info{
        padding: var(--space-xs);
        border: 1px solid var(--border-primary-color);
        border-radius: var(--border-radies-sm);
      }
    }

    .board{
      border: 1px solid var(--border-primary-color);
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill,30px);
      grid-template-rows: repeat(auto-fill,30px);

      .box{
        background-color: aqua;
        border: 1px solid white;
        // height: 30px;
        // width: 20px;
      }
    }
  }
}